# General
.DS_Store
.vscode/

# SCons
.sconsign.dblite

# Runtime
wasmer/
wasmtime/

# Build files
*.os
*.obj
*.pdb
*.idb
*.so
*.dylib
*.dll
*.o
*.exp
*.lib
__pycache__

# Clangd
.cache/
compile_commands.json
