name: Build Addon
on:
  push:
    branches: [master, godot-4]
    tags: [gha-addon]
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

env:
  LIBRARY_PATH: addons/godot-wasm/bin
  WASMER_VERSION: v3.1.1

jobs:
  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt -y install build-essential pkg-config libx11-dev libxcursor-dev \
            libxinerama-dev libgl1-mesa-dev libglu-dev libasound2-dev libpulse-dev \
            libudev-dev libxi-dev libxrandr-dev yasm

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python Packages
        run: python -m pip install scons

      - name: Submodule Hash
        run: echo "SUBMODULE_HASH=$( git rev-parse HEAD:godot-cpp )" >> $GITHUB_ENV

      - name: Cache Godot Library
        id: cache-godot-cpp
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/godot-cpp/bin
            ${{ github.workspace }}/godot-cpp/include
            ${{ github.workspace }}/godot-cpp/gen
          key: ${{ runner.os }}-${{ env.SUBMODULE_HASH }}-${{ secrets.GODOT_CPP_CACHE_VERSION }}

      - name: Compile Godot Library
        if: steps.cache-godot-cpp.outputs.cache-hit != 'true'
        run: |
          cd ${{ github.workspace }}/godot-cpp
          scons platform=linux

      - name: Compile Addon
        run: scons platform=linux

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: linux
          path: ${{ github.workspace }}/${{ env.LIBRARY_PATH }}/linux
          if-no-files-found: error

  build-osx:
    name: Build OSX
    runs-on: macos-11
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python Packages
        run: python -m pip install scons

      - name: Submodule Hash
        run: echo "SUBMODULE_HASH=$( git rev-parse HEAD:godot-cpp )" >> $GITHUB_ENV

      - name: Cache Godot Library
        id: cache-godot-cpp
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/godot-cpp/bin
            ${{ github.workspace }}/godot-cpp/include
            ${{ github.workspace }}/godot-cpp/gen
          key: ${{ runner.os }}-${{ env.SUBMODULE_HASH }}-${{ secrets.GODOT_CPP_CACHE_VERSION }}

      - name: Compile Godot Library
        if: steps.cache-godot-cpp.outputs.cache-hit != 'true'
        run: |
          cd ${{ github.workspace }}/godot-cpp
          scons platform=macos

      - name: Compile Addon
        run: scons platform=macos

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: macos
          path: ${{ github.workspace }}/${{ env.LIBRARY_PATH }}/macos
          if-no-files-found: error

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python Packages
        run: python -m pip install scons pywin32

      - name: Submodule Hash
        run: echo "SUBMODULE_HASH=$( git rev-parse HEAD:godot-cpp )" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append

      - name: Cache Godot Library
        id: cache-godot-cpp
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/godot-cpp/bin
            ${{ github.workspace }}/godot-cpp/include
            ${{ github.workspace }}/godot-cpp/gen
          key: ${{ runner.os }}-${{ env.SUBMODULE_HASH }}-${{ secrets.GODOT_CPP_CACHE_VERSION }}

      - name: Compile Godot Library
        if: steps.cache-godot-cpp.outputs.cache-hit != 'true'
        run: |
          cd ${{ github.workspace }}\godot-cpp
          scons platform=windows

      - name: MSVC Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Compile Addon
        run: scons platform=windows

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: windows
          if-no-files-found: error
          path: |
            ${{ github.workspace }}\${{ env.LIBRARY_PATH }}\windows\
            !**\*.lib
            !**\*.exp
