name: Release
on:
  push:
    tags: ['v[0-9]+.[0-9]+.[0-9]+*']

env:
  LIBRARY_PATH: addons/godot-wasm/bin
  RELEASE_ASSET: asset-library.zip

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        runtime: [wasmtime, wasmer]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clean Binaries
        run: find ${{ github.workspace }}/${{ env.LIBRARY_PATH }} -mindepth 1 -type d -exec rm -rf {} +

      # Non-standard download action required for cross-workflow downloads
      - name: Download Artifact
        uses: dawidd6/action-download-artifact@v11
        with:
          workflow: addon.yml
          commit: ${{ github.sha }}
          name: \w+-${{ matrix.runtime }}
          path: ${{ github.workspace }}/${{ env.LIBRARY_PATH }}

      - name: DEBUG
        run: |
          echo "Working directory structure:"
          tree ${{ github.workspace }} || find ${{ github.workspace }}

      # Artifacts are placed in directories matching their names i.e. with runtime suffix
      - name: Strip Runtime Suffix
        run: |
          cd ${{ github.workspace }}/${{ env.LIBRARY_PATH }}
          for dir in */; do
            if [ -d "$dir" ]; then
              dirname="${dir%/}"
              newname="${dirname%-${{ matrix.runtime }}}"
              if [ "$dirname" != "$newname" ]; then
                mv "$dirname" "$newname"
              fi
            fi
          done

      - name: DEBUG
        run: |
          echo "Working directory structure:"
          tree ${{ github.workspace }} || find ${{ github.workspace }}

      - name: Prepare Asset
        run: |
          mkdir godot-wasm
          mv addons godot-wasm
          cd ${{ github.workspace }}
          zip -r asset-library-${{ matrix.runtime }}.zip godot-wasm

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/asset-library-${{ matrix.runtime }}.zip
